.container-carrossel {
    display: flex;
    width: 70%;
    height: auto;
    align-items: center;
    gap: 2rem;
}

.iframe {
    margin: 0;
}

.scrollItem {
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
    width: 100%;
    gap: 10px;
    padding: 20px;
}

#scroll {
    display: -webkit-inline-box;
    overflow-x: auto;

}


.titleProject {
    text-align: center;
    color: #fff;
    font-size: 40px;

}

.subtitleProject {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.btn-arrow-left {
    background: none;
    font-size: 50px;
    color: #fff;
    border: 0;
    width: auto;
    height: auto;
    transition: 0.4s ease;

    &:hover {
        color: #8873F0;
    }
}

.btn-arrow-right {
    background: none;
    font-size: 50px;
    color: #fff;
    border: 0;
    width: auto;
    height: auto;
    transition: 0.4s ease;

    &:hover {
        color: #8873F0;
    }
}

.github-text {
    color: #fff;
}

.githubicon {
    transition: 0.3s ease;
    color: #fff !important;
}

.githubicon:hover {
    color: #c8bdff !important;
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}


@media(max-width:500px) {
    .container-carrossel {
        width: 100%;
        padding: 0 10px 0 10px;
    }

    .titleProject {
        font-size: 25px;
    }

    .subtitleProject {
        font-size: 13px;
    }

    .btn-arrow-left {
        font-size: 30px;
    }

    .btn-arrow-right {
        font-size: 30px;
    }

    .iconGit {
        width: 30px;
    }

    .github-text {
        font-size: 13px;
    }

}