.container-home {
    width: '100%';
    background-color: #18171C;
}

.container-home::before {
    width: 300px;
    height: 300px;
    background-color: #a2f1ff;
    display: block;
    position: absolute;
    left: -170px;
    content: '';
    filter: blur(200px);
    border-radius: 50%;
}

.container-home::after {
    width: 300px;
    height: 300px;
    background-color: #a2f1ff;
    display: block;
    position: absolute;
    right: 100px;
    top: 250px;
    content: '';
    filter: blur(200px);
    border-radius: 50%;
    pointer-events: none;
}

.section-home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    display: grid;
    place-content: center;
}

.box:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.box p {
    letter-spacing: 3px;

}

.box h1 {
    font-size: 100px;
    color: #fff;
}

.me-img {
    filter: grayscale(100%);
    transition: 0.3s ease-in;
}


.box-image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url('../../assets/me.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s ease;
    display: flex;
    align-items: end;
    justify-content: center;
}



.box-image:hover {
    background-color: #8873F0;
    scale: 1.1;
    box-shadow: 10px 10px 5px 5px black;
}



.dowload-cv {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: grid;
    place-content: center;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.100);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

#animationSvg {
    animation: spin 6s infinite linear;

    transform-origin: center;
}


.section-2 {
    width: 100vw;
    height: auto;
    background-color: #121212;
    padding: 5rem;
}


.box-skills {
    width: 100%;
    display: flex;
    min-height: 200px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 20px;
}

.box-skills h2 {
    color: #fff;
    font-size: 30px;
}

.box-skills img {
    scale: 2;
}

.imgskill:hover {
    transform: translateY(-15px);
    transition: 0.3s ease;
    z-index: 1;
    scale: 2.3;
}

.imgskill:hover>.imgskill:not(:hover) {
    transform: translateY(0px);
}

.imgskillFrontend:hover {
    transform: translateY(-15px);
    transition: 0.3s ease;
    z-index: 1;
    scale: 2.3;
}

.imgskillFrontend:hover>.imgskillFrontend:not(:hover) {
    transform: translateY(0px);
}

@keyframes spin {

    to {
        transform: rotate(360deg)
    }
}