.container-about {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
}

.container-about>h1 {
    color: #fff;
    font-size: 50px;
}

.paragraph {
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 80%;
}

@media(max-width:500px) {
    .paragraph {
        font-size: 14px;
        width: 100%;
    }

    .container-about>h1 {
        font-size: 30px;
    }
}