.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.whats {
    transition: 0.3s ease;
    cursor: pointer;
}

.linkedin {
    transition: 0.3s ease;
    cursor: pointer;
}

.whats:hover {
    color: green !important;
}

.linkedin:hover {
    color: #0e76a8 !important;
}