.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem 0 1rem 0;
}

.whats {
    transition: 0.3s ease;
    cursor: pointer;
}

.linkedin {
    transition: 0.3s ease;
    cursor: pointer;
}

.whats:hover {
    color: green !important;
}

.linkedin:hover {
    color: #0e76a8 !important;
}

@media(max-width:500px){
    .linkedin{
        width: 25px !important;
    }
}